<div class="container-fluid container-article">
  {{#if articles}}
  {{#each articles}}
  <div class="card">
    <div class="card-header bg-primary">
      <h3 class="mt-1">
        <a href="{{link}}" class="article-link text-white" target="_blank">{{title}}</a>
        <button class="btn btn-sm btn-success save float-sm-right" data-id="{{_id}}">SAVE
          ARTICLE</button>
      </h3>
    </div>
    <div class="card-body">
      {{description}}
    </div>
  </div>
  {{/each}}
  {{else}}
  <h4 class="alert text-white text-center py-2">Looks like we don't have any new articles</h4>
  <div class="card">
    <div class="card-header bg-primary">
      <h3 class="mt-1 text-center text-white">What would you like to do?
      </h3>
    </div>
    <div class="card-body">
      <a class="btn btn-lg scrape text-primary my-0 py-0 d-block mx-auto">Scrape New Articles</a>
      <a href="/saved" class="btn btn-lg saved text-primary my-0 py-0 d-block mx-auto">Go to Saved Articles</a>
    </div>
  </div>
  {{/if}}
</div>