<div class="container-fluid container-article">
  {{>saved/modal-block}}
  {{#if articles}}
  {{#each articles}}
  <div class="card">
    <div class="card-header bg-primary d-flex flex-wrap">
      <h3 class="mt-1 saved"><a href="{{link}}" class="article-link text-white mr-2" target="_blank">{{title}}</a>
      </h3>
      <button class="btn btn-sm btn-danger remove d-block mr-2" data-id="{{_id}}">REMOVE FROM SAVED</button>
      <button type="button" class="btn btn-sm btn-purple notes" data-id="{{_id}}" data-title="{{title}}" data-toggle="modal"
        data-target="#noteModal">ARTICLE
        NOTES</button>

    </div>
    <div class="card-body">
      {{description}}
    </div>
  </div>
  {{/each}}
  {{else}}
  <h4 class="alert text-white text-center py-2">Looks like we don't have any saved articles</h4>
  <div class="card">
    <div class="card-header bg-primary">
      <h3 class="mt-1 text-center text-white">Would you like to browse scraped articles?
      </h3>
    </div>
    <div class="card-body">

      <a href="/" class="btn btn-lg saved text-primary my-0 py-0 d-block mx-auto">Browse Articles</a>
    </div>
  </div>
  {{/if}}
</div>